
/**** BODY ****/

body {
	direction: rtl;

	overflow-x: hidden;  /* Disables scrolling the page horizontally */

	font-family: "David Libre", serif;
	
	color: #333; /* Makes the text a bit brighter than black - takes the contrast down a bit */
	background-image: url( "wood.jpg" );

	-webkit-font-smoothing: antialiased;  /* Makes fonts look better on Mac Safari & Chrome */
	-moz-osx-font-smoothing: grayscale;   /* Makes fonts look better on Mac Firefox */
}


/**** HEADER ****/

.header {
	position: fixed;  /* Make the element stay in its position, regardless of scroll */
	top: 0;
	left: 0;
	right: 0;
	
	text-align: center;
}

/* Here we set the typography for the header, just for the <h1> tag inside it: */

.header h1 {  
	font-size: 1.2em; /* We're using em units for the fonts */
	letter-spacing: 0.2em;
	font-weight: 500;
}


/**** CALENDAR ****/

.calendar-page {
	/* We're using rem units (em units relative to body) for all the constant dimensions */
	width: 10rem;  /* No height, so element will be as long as its contents */

	position: absolute;
	top: 6.5rem;
	left: 20vw;	 /* We're using vw (1/100 of viewport width) for most of the relative dimensions */
	
	text-align: center;
	
	background-color: white;

	box-shadow: 0.3rem 0.3rem 2rem rgba(0, 0, 0, 0.5);  /* Drop shadow: [X-position] [Y-position] [size] [color] */
	transform: rotate(-3deg); /* Rotate calendar page 3 degrees counter-clockwise */
}

.calendar-page .month {
	padding-top: 0.5rem;

	font-size: 2em;
	line-height: 1;
}

.calendar-page .day {
	font-size: 6em;
	line-height: 1;
}

.calendar-page .year {
	font-size: 2em;
	line-height: 0.9;
}

.calendar-page .week-day {
	margin: 0.5rem 0 0;

	font-size: 1.2em;
	line-height: 1.4;

	color: white;
	background-color: #eda5a5;
}


/**** NOTEPAD ****/

.notepad {
	width: 12.5rem;
	border-top: 1rem dotted #fffc45;
	
	position: absolute;
	top: 18rem;
	right: 20vw;
	
	box-shadow: 0.3rem 0.8rem 1rem rgba( 0, 0, 0, 0.5 );
	transform: rotate(2deg); /* Rotate 2 degrees clockwise */
}

.notepad ul {
	height: 14rem;

	margin: -0.5rem 0 0;
	padding: 2.6rem 0.6rem 0 0;
	list-style: none; /* Get rid of the list bullets */

	line-height: 2rem; /* Each notepad "row" will be 2 rem units high - we will syncronize this with the background in the next line */

	background-image: repeating-linear-gradient( #fffc45 0px, #fffc45 1.9rem, #888 2rem ); /* Repeating gradient for notepad rules */
}


/**** ENVELOPE ****/

.envelope {
	width: 50vw; /* Make the envelope _ideally_ take half the width of the screen */
	min-width: 12.5rem; /* Don't let envelope get too narrow... */
	max-width: 30rem; /* ...but don't let it get too wide, either */
	height: 12.5rem;

	position: absolute;
	top: 32rem;
	left: 30vw;

	background-color: white;
	
	box-shadow: 0.3rem 0.3rem 2rem rgba( 0, 0, 0, 0.5 );	
	transform: rotate(-7deg);
}

.envelope .stamp {
	width: 2.5em; 
	height: 2.5em;

	position: absolute;
	top: 0.75rem; 
	right: 0.75rem;

	border: 0.25rem dotted #ddd;
}

.envelope .stamp-content {
	height: 2.75rem;

	margin: -0.125rem;

	font-size: 2.5em;
	font-weight: 500;
	line-height: 1.1;
	text-align: center;

	color: white;
	background-color: #ddd;
}

.envelope .address {
	position: absolute;
	top: 3rem; 
	right: 30%;
	
	line-height: 1.4;
}


/**** MAGNIFIER ****/

.magnifier {
	position: absolute;
	top: 30rem; 
	left: 45vw;	
	
	transform: rotate(50deg);
}

.magnifier .glass {
	width: 12.5rem; 
	height: 12.5rem;

	position: absolute;
	top: 0; 
	left: 0;
	z-index: 100; /* Make sure the magnifier glass is in front of the handle */
	
	border: 0.7rem solid black;
	border-radius: 12.5rem;
	
	background-color: rgba( 240, 240, 240, 0.5 );	
}

.magnifier .handle {
	width: 1.8rem; 
	height: 12.5rem;

	position: absolute;
	top: 13.5rem; 
	left: 6rem;
	
	background-image: linear-gradient( 270deg, black, #999 );
	
	box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.6);
}


/**** BUSINESS CARD ****/

.business-card {
	width: 50%;
	max-width: 15rem;

	position: absolute;
	top: 50rem; 
	right: 30vw;
	z-index: 200;

	padding: 1rem 1rem 1.5rem;
	
	background-color: #fbf8f8;
	
	box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
	
	transition: transform 250ms; /* Enable the "transform" property to transition for 1/4 second */
}

.business-card:hover { /* The :hover modifier refers to when the mouse cursor is over the element */
	cursor: -webkit-grab; /* Show a stretched hand cursor (on chrome) */
	transform: perspective(1000px) scale(1.2) rotateZ(4deg) rotateY(25deg);
}

.business-card:active { /* The :active modifier refers to when the user holds the mouse button when over the element */
	cursor: -webkit-grabbing; /* Show a grabbing hand cursor (on chrome) */
	transform: perspective(1000px) scale(1.1) rotateZ(10deg) rotateY(180deg);
}

.business-card p {
	margin: 0;
	
	line-height: 1.3;
}

.business-card p.name {
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.1;
}

.business-card p.title {
	margin: 0.2rem 0;
	border-bottom: 1px solid #ddd;
	padding: 0 0 0.4rem;
	
	color: #429fe5;
}

.business-card p.phone,
.business-card p.email {
	font-size: 0.8em;
	text-align: left;
	
	color: #888;
}


/**** IPHONE ****/

.iphone {
	width: 60vw; 
	max-width: 17.5rem;
	height: 460px;
	
	position: absolute;
	top: 56rem; 
	left: 15vw;
	
	background-color: black;
	
	border-radius: 1rem;
	box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.6);
	transform: rotate(-8deg);
}

.iphone .screen {
	height: 21.5rem;

	position: absolute;
	top: 3rem; 
	left: 1rem;
	right: 1rem; 
	
	background-color: white;
}

.iphone .screen iframe {
	width: 100%;
	height: 21.5rem;

	border: none; /* Cancel the default border */
	
}

.iphone .button {
	width: 2.5rem; 
	height: 2.5rem;

	position: absolute;
	bottom: 0.95rem; 
	left: 50%;
	
	margin-left: -1.25rem;
	border: 1px solid #888;
	
	border-radius: 2.5rem;
}

/**** WATCH ****/

.watch {
	position: absolute;
	top: 75rem; 
	right: 25vw;
	
	transform: rotate(5deg);
}

.watch-strap {
	width: 3.75em;
	height: 32rem;

	position: absolute;
	top: 0; 
	left: 0;
	
	background-color: black;
	
	border-radius: 1rem;
	box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
}

.watch-strap-clasp {
	width: 3.25rem;
	height: 3.25rem;

	position: absolute;
	top: -1rem;
	
	border: 0.25rem solid #c0c0c0;
	
	border-radius: 1rem 1rem 0 0;
	box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
}

.watch-strap-hook {
	width: 0; 
	height: 2.5rem;

	position: absolute;
	bottom: 0; left: 1.5rem;
	
	border-left: 0.25rem solid #c0c0c0;	
}

.watch-strap-holes {
	width: 0; 
	height: 8rem;

	position: absolute;
	left: 1.6rem; 
	top: 22rem;
	
	border-left: 0.5rem dotted white;
}

.watch-face {
	width: 6.5rem; 
	height: 6.5rem;

	position: absolute;
	top: 12.5rem; 
	left: -2.25rem;

	border: 0.75rem solid black;
	
	background-color: white;
	
	border-radius: 6.5rem;
	box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
}

.watch-hand-hours {
	width: 0.25rem; 
	height: 1.75rem;

	position: absolute;
	top: 3.25rem; 
	left: 3.25rem;
	
	background-color: black;
	
	transform-origin: top center; /* tells transform where the center of the rotation will be */
	transform: rotate(45deg);
}

.watch-hand-minutes {
	width: 0.125rem; 
	height: 2.5rem;

	position: absolute;
	top: 3.25rem; 
	left: 3.25rem;
	
	background-color: black;
	
	transform-origin: top center;
	transform: rotate(-20deg);
}

.watch-hand-seconds {
	width: 1px; 
	height: 2.75rem;

	position: absolute;
	top: 3.25rem; 
	left: 3.25rem;
	
	background-color: red;
	
	transform-origin: top center;
	transform: rotate(-20deg);
	
	animation-name: watch-hand-seconds-move; /* see @keyframes below */
	animation-duration: 60s;
	animation-iteration-count: infinite;
	animation-timing-function: linear; /* if we don't set this to linear, the animation's tween will be eased */
}

@keyframes watch-hand-seconds-move { /* This defines the animation we're calling using animation-name (see .watch-hand-seconds above) */
	0% {
		transform: rotate(0deg); /* In the beginning we want it to be rotated to 0 degrees */
	}
	100% {
		transform: rotate(360deg); /* In the end - 360 degrees (back to where it started) */
	}
}

/**** POLAROIDS ****/

.polaroids {
	position: absolute;
	top: 100rem; 
	left: 60vw;
	
	transform: rotate(3deg);
}

.polaroid {
	box-sizing: border-box; /* This includes the padding in the overall width */

	width: 50vw;
	max-width: 18rem;
	
	position: absolute; /* We define the top/left for each polaroid individually, see next rules */

	padding: 1rem 1rem 4rem;
	
	background-color: white;
	
	cursor: pointer; /* This makes the mouse cursor look like a pointing hand */
	box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
}

.polaroid.two {
	transform: rotate(3deg) translate(2.5rem, -3.75rem);
}

.polaroid.three {
	transform: rotate(-3deg) translate(-1.25rem, 2rem);
}

.polaroid.four {
	transform: rotate(6deg) translate(2.5rem, 0);
}

.polaroid.five {
	transform: rotate(-8deg) translate(2.5rem, 3.75rem);
}

.polaroid.six {
	transform: rotate(12deg) translate(1.25rem, 2rem);
}

.polaroid:hover { /* Each polaroid has the .polaroid class, but only one has the mouse cursor over at a time */
	z-index: 200; /* Bring the polaroid to the front */
}

.polaroid img {
	display: block;
	width: 100%;
}

.footer {
	position: absolute;
	top: 130rem; 
	left: 0; 
	right: 0;
	
	margin: 1rem 0;

	font-size: 0.8em;
	letter-spacing: 0.05em;
	text-align: center;
}
